@import 'lib/_reset.scss';
@import 'lib/_mixins.scss';
@import 'lib/_grid.scss';
@import '_variables.scss';
@import '_fonts.scss';
@import '_typography.scss';

/**
 * Global Styles
 */
.container {
	position: relative;
	width: $screen-md-min;
	margin: 0 auto;
	padding: 30px 0;

	@include grid($screen-md-min, 16)
}

.row {
	@include clear-fix;
	margin-bottom: 20px;
}

.container:after {
	@include clear-fix;
}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.container {
		width: $screen-sm-min;
		@include grid($screen-sm-min, 16);
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.container {
		width: $screen-xs-min;
		@include grid-fixed($screen-xs-min, 16);
	}
}
