@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(https://themes.googleusercontent.com/static/fonts/playfairdisplay/v8/2NBgzUtEeyB-Xtpr9bm1CV4QaRhHkZLZrsruvIjJ6Xo.woff) format('woff');
}
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://themes.googleusercontent.com/static/fonts/playfairdisplay/v8/UC3ZEjagJi85gF9qFaBgIAjfA_CkPizPaBJKI36cCAY.woff) format('woff');
}
@font-face {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url(https://themes.googleusercontent.com/static/fonts/playfairdisplay/v8/9MkijrV-dEJ0-_NWV7E6N9QroGjXLbbdFByKqKsSrKI.woff) format('woff');
}
@font-face {
	font-family:'ProximaNova-Regular';
	src:url(//d3jzug80jq9bku.cloudfront.net/assets/rileyandgrey/stylesheets/webfonts/279EF0_8_0-3769cbc2ac51d1658e4a1f381aacf2de.eot);
	src:url(//d3jzug80jq9bku.cloudfront.net/assets/rileyandgrey/stylesheets/webfonts/279EF0_8_0.eot?#iefix) format("embedded-opentype"),url(//d3jzug80jq9bku.cloudfront.net/assets/rileyandgrey/stylesheets/webfonts/279EF0_8_0-eeea5272d36d1798a27b3b3f373081c2.woff) format("woff"),url(//d3jzug80jq9bku.cloudfront.net/assets/rileyandgrey/stylesheets/webfonts/279EF0_8_0-b64fd64e80b9f94ca12a981af821feac.ttf) format("truetype");
}
