/**
 * Mixins
 */
@mixin box-shadow($shadows...) {
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}
@mixin sans-serif {
	font-family: 'ProximaNova-Regular', sans-serif;
}
@mixin serif {
	font-family: 'Playfair Display', serif;
}
@mixin border-box {
	box-sizing: border-box;
}
@mixin text-shadow($shadow...) {
	text-shadow: $shadow;
}
