doctype html
html(lang="en")
	head
		title= 'Jillian & Logan'
		meta(name='viewport', content='width=device-width, user-scalable=no')
		link(rel='stylesheet', href='/styles/main.css')
		script(src='/scripts/main.js')
		link(rel='shortcut icon', href='/img/favicon.png')

	body
		div.nav-bar
			ul
				li
					a(href='#couple', class='scroll-link') The Couple
				li
					a(href='#venue', class='scroll-link') The Venue
				li
					a(href='#travel', class='scroll-link') Travel
				li
					a(href='#subscribe', class='scroll-link') Stay Updated
		section.home
			div.cover-photo(style='background-image: url(/img/cover.jpg)')
				div.container
					hr
					h1 Jillian <span class="ampersand">&amp;</span> Logan
					hr
					h3 September 20, 2014
			div.container
				div.twelve.columns.offset-by-two
					p.
						It's hard for us to express just how thankful we are to have such a
						wonderful and supportive group of family and friends behind us as we
						begin this new chapter. We're so lucky to have all of you in our
						lives. From our age-old friends from Roanoke, to our new California
						crew, to our family in Virginia, Michigan, New Jersey, New York,
						Ohio, the Carolinas, Florida, Boston, Seattle and beyond...we are so
						excited to bring everyone together for this very special day. We
						can't wait to celebrate with you!
					p - Jillian &amp; Logan
					img(src='/img/ring.jpg', style='width: 100%' class='watch-image')
		section.couple#couple
			div.container
				div.sixteen.columns
					h2.section-title The Couple
				div.four.columns.offset-by-one
					img(src='/img/couple1.jpg' class='watch-image')
				div.six.columns
					img(src='/img/couple2.jpg' class='watch-image')
				div.four.columns
					img(src='/img/couple3.jpg' class='watch-image')
			div.container
				div.fourteen.columns.offset-by-one.centered
					h3 Jillian & Logan
					hr.tight
					p.centered.
						Jillian & Logan met at a Fourth of July party hosted by a mutual
						friend in 2008. Logan knocked a blazing hot spotlight onto
						Jillian's foot and once the apologies died down they got to talking.
						It turned out they were both going to school at Virginia Tech and
						were living across the street from each other in Blacksburg. A
						couple of hours of chatting revealed many other coincidences. They
						found out their dads not only worked at the same company, where
						Logan was interning at the time, but on the same team. Logan's mom
						taught art to Jillian when they were each in fifth grade. They both
						went to the same high school dances and got into trouble with the
						same high school friends. The kicker was that Logan's last name was
						the same as Jillian's middle name, just spelled a little
						differently. They like to think it was fate. It was like they should
						have met so many times, but none of them was the right time until
						that night.
		section.venue#venue
			div.container
				div.sixteen.columns
					h2.section-title The University Club of San Francisco
				div.six.columns
					img.pic-frame(src='/img/university_club.jpg', style='width:100%' class='watch-image')
					//-img.pic-frame(src='/img/logan_jillian_sf.jpg', style='width: 100%; margin-bottom: 60px;')
					img.pic-frame(src='/img/club1.jpg', style='width:100%' class='watch-image')
					img.pic-frame(src='/img/club2.jpg', style='width:100%' class='watch-image')
				div.nine.columns.offset-by-one
					p.
						The wedding ceremony and reception will take place at the University
						Club of San Francisco.
					p.
						This private club is one of the oldest in the city. It was founded
						in 1890 and moved to its current location on top of the prestigious
						Nob Hill in 1909. It’s conveniently located in the heart of the
						city, just a few blocks away from Union Square and the Financial
						District.
					p.
						We’ll say our vows on the fourth floor and move to the third for a
						sit-down dinner. Then we’ll head back upstairs to dance the night
						away in front of gorgeous views of the glittering San Francisco
						skyline.
					h3 Address
					address
						| 800 Powell St <br>
						| San Francisco <br>
						| CA 94108

		section.travel#travel
			div.container
				div.sixteen.columns
					h2.section-title Travel
				div.twelve.columns.offset-by-two
					| <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=university+club&amp;aq=&amp;sll=37.7577,-122.4376&amp;sspn=0.301019,0.621414&amp;t=m&amp;ie=UTF8&amp;hq=university+club&amp;hnear=&amp;cid=4073984910543645047&amp;ll=37.803477,-122.40941&amp;spn=0.032552,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			div.container
				div.four.columns.offset-by-one
					h3 Travel
					p.
						Flying into SFO airport is your best bet. From there, you can either
						BART or take a cab into the city.
				div.four.columns.offset-by-one
					h3 Accomodations
					p.
						We have several rooms blocked at the Hyatt Regency on the
						Embarcadero. Follow the link below to make your reservations.
						They will be available at the discounted price until 8/19/2014.
				div.four.columns.offset-by-one
					h3 Transportation
					p.
						San Francisco is notorious for high parking prices.
						Ditch the rental car and sign up for a ride-sharing program like
						<a href="http://uber.com/invite/e88lo" target="_blank">Uber</a> or
						<a href="http://www.lyft.com/invited/JILLIAN315" target="_blank">Lyft</a>.
						You can also walk, cab, take
						<a href="http://www.bart.gov/stations" target="_blank">BART</a> or
						ride <a href="http://www.sfmta.com/getting-around/transit" target="_blank">Muni</a>.
		section.subscribe#subscribe
			div.container
				div.sixteen.columns
					form.subscribe-form(action='http://jillianandlogan.us3.list-manage1.com/subscribe/post?u=e19cf1ba682140c2796b60122&amp;id=89d06e7e1c', method='post', target='_blank')
						h2.section-title Stay Up To Date
						p.centered.
							We're working hard to make sure you have all the information you
							need. To stay updated on the schedule of events, gift registry
							information, our guide to the city and more, please enter your
							email address below.
						input(type='email', name='EMAIL', placeholder='Your email address')
						input(type='text', name='b_e19cf1ba682140c2796b60122_89d06e7e1c', value='', style='position: absolute; left: -5000px;')
						input(type='submit', value='Subscribe', class='btn')
