doctype html
html(lang="en")
	head
		title= 'Jillian & Logan'
		link(rel='stylesheet', href='/styles/main.css')
		script(src='/bower_components/q/q.js')
		script(src='/scripts/imagesloaded.js')
		script.
			var imagesLoaded = new ImagesLoaded('imageLoaded');

	body
		div.nav-bar
			ul
				li
					a(href='#couple', class='scroll-link') The Couple
				li
					a(href='#venue', class='scroll-link') The Venue
				li
					a(href='#travel', class='scroll-link') Travel
				li
					a(href='#subscribe', class='scroll-link') Stay Updated
		section.home
			div.cover-photo(style='background-image: url(/img/cover.jpg)')
				div.container
					hr
					h1 Jillian &amp; Logan
					hr
					h3 September 20, 2014
			div.container
				div.twelve.columns.offset-by-two
					p
						| It's hard for us to express just how thankful we are to have such a wonderful and supportive group of family and friends behind us as we begin this new chapter. We're so lucky to have all of you in our lives. From our age-old friends from Roanoke, to our new California crew, to our family in Virginia, Michigan, New Jersey, New York, Ohio, the Carolinas, Florida, Boston, Seattle and beyond...we are so excited to bring everyone together for this very special day. (Logan is literally squealing with anticipation right now.) We can't wait to celebrate with you!
					p
						| - Jillian &amp; Logan
					img(src='/img/ring.jpg', style='width: 100%', onload='imageLoaded(this)')
		section.couple#couple
			div.container
				div.sixteen.columns
					h2.section-title The Couple
				div.four.columns.offset-by-one
					img(src='/img/couple1.jpg', onload='imageLoaded(this)')
				div.six.columns
					img(src='/img/couple2.jpg', onload='imageLoaded(this)')
				div.four.columns
					img(src='/img/couple3.jpg', onload='imageLoaded(this)')
			div.container
				div.fourteen.columns.offset-by-one.centered
					h3 Jillian & Logan
					hr.tight
					p.centered
						| Jillian & Logan met at a Fourth of July party hosted by a mutual friend in 2008. Logan knocked a spotlight (that should have been a heat lamp) onto Jillian's foot and once the apologies died down they got to talking. It turned out they were both going to school at Virginia Tech and were living across the street from each other in Blacksburg. A couple of hours of chatting revealed many other coincidences. They found out their dads not only worked at the same company, where Logan was interning at the time, but on the same team. Logan's mom taught art to Jillian and Jillian's brother when they were each in fifth grade. They both went to the same high school dances and got into trouble with the same high school friends. The kicker was that Logan's last name was the same as Jillian's middle name, just spelled a little differently. They like to think it was fate. It was like they should have met so many times, but none of them was the right time until that night.
		section.venue#venue
			div.container
				div.sixteen.columns
					img.pic-frame(src='/img/university_club_front.jpg', style='width: 100%; margin-bottom: 60px;', onload='imageLoaded(this)')
					h2.section-title The University Club of San Francisco
				div.six.columns
					img.pic-frame(src='/img/university_club.jpg', style='width:100%', onload='imageLoaded(this)')
					//-img.pic-frame(src='/img/logan_jillian_sf.jpg', style='width: 100%; margin-bottom: 60px;')
					img.pic-frame(src='/img/club1.jpg', style='width:100%', onload='imageLoaded(this)')
					img.pic-frame(src='/img/club2.jpg', style='width:100%', onload='imageLoaded(this)')
				div.nine.columns.offset-by-one
					p The University Club is located on Nob Hill. This private club is one of the oldest in the city and 2009 marked 100 years in the present location at 800 Powell Street.
					p Dance the night away against a breathtaking view of sparkling city lights. Raise your glasses in the "Black Cat Bar," while admiring memorabilia from the former San Francisco Press Club. Take a moment to relax and reflect in the Library, a gracious room with a working fireplace and over 3,000 books.
					h3 Address
					address
						| 800 Powell St <br>
						| San Francisco <br>
						| CA 94108

		section.travel#travel
			div.container
				div.sixteen.columns
					h2.section-title Travel
				div.twelve.columns.offset-by-two
					| <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=university+club&amp;aq=&amp;sll=37.7577,-122.4376&amp;sspn=0.301019,0.621414&amp;t=m&amp;ie=UTF8&amp;hq=university+club&amp;hnear=&amp;cid=4073984910543645047&amp;ll=37.803477,-122.40941&amp;spn=0.032552,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			div.container
				div.four.columns.offset-by-one
					h3 Travel
					p Flying into SFO airport is your best bet.  The airport is only a 30 minute cab ride into the city.
				div.four.columns.offset-by-one
					h3 Accomodations
					p There are several rooms reserved for wedding party guests at the Hyatt Regency.
				div.four.columns.offset-by-one
					h3 Transportation
					p Getting around the city is easy!  There is a cable car that runs from the hotel to the wedding venue as well as several other transportation options such as Lyft, Uber and bus.
		section.subscribe#subscribe
			div.container
				div.sixteen.columns
					h2.section-title Stay Updated
					form.subscribe-form(action='http://jillianandlogan.us3.list-manage1.com/subscribe/post?u=e19cf1ba682140c2796b60122&amp;id=89d06e7e1c', method='post', target='_blank')
						input(type='email', name='EMAIL')
						input(type='text', name='b_e19cf1ba682140c2796b60122_89d06e7e1c', value='', style='position: absolute; left: -5000px;')
						input(type='submit', value='Subscribe')

	script(src='/scripts/slidescroll.js')

	script(type='text/javascript').
		imagesLoaded.then(function() {
			slideScroll('section', {
				linkSelector: '.scroll-link'
			});
		});
