doctype html
html(lang="en")
	head
		title= 'Linn + Sullivan'
		link(rel='stylesheet', href='/styles/main.css')
	body
		div.nav-bar
			ul
				li
					a(href='#') People
				li
					a(href='#') Party
				li
					a(href='#') Place
				li
					a(href='#') Registry
		section.home
			div.cover-photo(style='background-image: url(/img/cover.jpg)')
				div.container
					hr
					h1 Jillian &amp; Logan
					hr
					h3 September 20, 2014
		section.about
			div.container
				div.twelve.columns.offset-by-two
					p
						| We just want to say thank you to all of you for celebrating with us. Or considering celebrating with us. Or thinking about considering celebrating with us.
					p
						| You're the best. <br />
						| No seriously, you're awesome. <br />
						| Drinks are on us.
					p
						| - Jillian &amp; Logan
				div.fourteen.columns.offset-by-two
					img(src='/img/ring.jpg')
		section.couple
			div.container
				div.sixteen.columns
					h2.section-title The Couple
				div.four.columns.offset-by-one
					img(src='/img/couple1.jpg')
				div.six.columns
					img(src='/img/couple2.jpg')
				div.four.columns
					img(src='/img/couple3.jpg')
			div.container
				div.fourteen.columns.offset-by-one.centered
					h3 Jillian & Logan
					hr.tight
					p.centered
						| aecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commod Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu.
		section.location
			div.container
				div.sixteen.columns
					img.pic-frame(src='/img/logan_jillian_sf.jpg', style='width: 100%; margin-bottom: 60px;')
					h2.section-title San Francisco, CA
				div.six.columns
					img.pic-frame(src='/img/university_club.jpg', style='width:100%')
					img.pic-frame(src='/img/club1.jpg', style='width:100%')
					img.pic-frame(src='/img/club2.jpg', style='width:100%')
				div.nine.columns.offset-by-one
					h3 University Club
					p The University Club is located on Nob Hill. This private club is one of the oldest in the city and 2009 marked 100 years in the present location at 800 Powell Street.
					p Dance the night away against a breathtaking view of sparkling city lights. Raise your glasses in the "Black Cat Bar," while admiring memorabilia from the former San Francisco Press Club. Take a moment to relax and reflect in the Library, a gracious room with a working fireplace and over 3,000 books.
					h3 Address
					address
						| 800 Powell St <br>
						| San Francisco <br>
						| CA 94108

		section.accomodations
			div.container
				div.sixteen.columns
					| <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=university+club&amp;aq=&amp;sll=37.7577,-122.4376&amp;sspn=0.301019,0.621414&amp;t=m&amp;ie=UTF8&amp;hq=university+club&amp;hnear=&amp;cid=4073984910543645047&amp;ll=37.803477,-122.40941&amp;spn=0.032552,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>


	script(src="")
