doctype html
html(lang="en")
	head
		title= 'Linn + Sullivan'
		link(rel='stylesheet', href='/styles/main.css')
	body
		div.nav-bar
			ul
				li
					a(href='#') People
				li
					a(href='#') Party
				li
					a(href='#') Place
				li
					a(href='#') Registry
		section.home
			div.cover-photo(style='background-image: url("/img/cover.jpg")')
				div.container
					hr
					h1 Jillian &amp; Logan
					hr
					h3 September 20, 2014
		section.about
			div.container
				div.twelve.columns.offset-by-two
					p
						| We just want to say thank you to all of you for celebrating with us. Or considering celebrating with us. Or thinking about considering celebrating with us.
					p
						| You're the best. <br />
						| No seriously, you're awesome. <br />
						| Drinks are on us.
					p
						| - Jillian &amp; Logan
					img(src='/img/ring.jpg')
