doctype html
html(lang="en")
	head
		title= 'Linn + Sullivan'
		link(rel='stylesheet', href='/styles/main.css')
	body
		div.nav-bar
			ul
				li
					a(href='#') People
				li
					a(href='#') Party
				li
					a(href='#') Place
				li
					a(href='#') Registry
		section.home
			div.cover-photo(style='background-image: url("/img/cover.jpg")')
				div.container
					hr
					h1 Jillian &amp; Logan
					hr
					h3 September 20, 2014
