doctype html
html(lang="en")
	head
		title= 'Linn + Sullivan'
		link(rel='stylesheet', href='/styles/main.css')
	body
		div.nav-bar
			ul
				li
					a(href='#') People
				li
					a(href='#') Party
				li
					a(href='#') Place
				li
					a(href='#') Registry
